<!DOCTYPE html>
<html>
<head>
  <title class="title">McGill Steam Predictions</title>
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/graph.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="container" id="header">
    <div class="row">
      <div class="six columns" id="title">
        <img id="mcgill" src="/images/mcgill.png">
        <div id="title-text">Steam Predictions</div>
      </div>
      <div class="three columns right">
        <a href="https://mcgill.pulseenergy.com/#/overview" target="_blank">
          <img src="/images/pulse.png" alt="Pulse API Dashboard">
        </a>
      </div>
      <div class="three columns right">
        <a href="http://mcgillenergyproject.wordpress.com/" target="_blank">
          <img src="/images/mep.png" alt="MEP">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
   <div class="row">
     <div id="graph" class="twelve columns"></div>
   </div>
   <div class="row">
     <div class="twelve columns">
       <div class="panel">
         Students of the <a href="http://mcgillenergyproject.wordpress.com/" target="_blank">McGill Energy Project</a>,
         designed this application in conjunction with <a href="http://www.mcgill.ca/facilities/utilities" 
         target="_blank">Utilities and Energy Management</a> to help Powerhouse operating staff with day-to-day
         decision making. It uses historic campus steam consumption data from 
         <a href="https://mcgill.pulseenergy.com/#/overview" target="_blank">Pulse Energy</a>, and combines it with 
         weather data in a machine learning algorithm to generate steam forecasts. Operating staff can use these 
         forecasts to make more informed decisions regarding efficient equipment use, ultimately saving energy. 
         <br><br>
         <em>Please note that the application is still in development.</em>
       </div>
     </div>
   </div>
  </div>
  <div id="footer" class="container">
    <div class="row">
      <div class="twelve columns">
        <p>&copy; <%= Date.today.year %> Marc-Etienne Brunet and Alexander Ostrow</p>
      </div>
    </div>
  </div>
  <script src="/js/d3.min.js" charset="utf-8"></script>
  <script src="/js/graph.js" charset="utf-8"></script>
</body>
</html>