h1, h2, h3, h4, h5, h6 {
  color: #dc241f;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel {
  width: 100%;
  font-size: 1.1em;
  line-height: 1.3em;
}

#header, #footer {
  background-color: #eee;
}

#header {
  border-bottom: 1px solid;
  height: 180px;
}

#title {
  position: relative;
  height: 140px;
}

#mcgill {
  position: absolute;
  height: 75px;
  top: 10px;
  left: 20px;
}

#title-text {
  position: absolute;
  top: 90px;
  left: 102px;
  font-family: Garamond;
  font-size: 2.8em;
  color: #555;
}

.right {
  text-align: right;
}